.container {
  display: inline;
  width: 100%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: 'Josefin Sans', sans-serif;
}

.image {
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: 15px;
}

.nav-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  background-color: transparent;
}

.nav-link-2 {
  margin-right: 15px;
  margin-left: 0px;
}

.section {
  height: 500px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .67), hsla(0, 0%, 100%, .67)), url('../images/108.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .67), hsla(0, 0%, 100%, .67)), url('../images/108.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  opacity: 1;
  line-height: 30px;
  font-weight: 300;
}

.heading {
  display: inline-block;
  width: 100%;
  margin-top: 171px;
  opacity: 1;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.container-2 {
  position: relative;
  top: 30%;
  padding-top: 0px;
  text-align: left;
  text-decoration: none;
}

.paragraph {
  display: inline-block;
  overflow: visible;
  margin-bottom: 0px;
  float: none;
  clear: none;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
}

.heading-2 {
  position: static;
  margin-top: 0px;
  opacity: 1;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.section-2 {
  position: relative;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.paragraph-2 {
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.container-3 {
  position: relative;
  top: 25px;
  margin-bottom: 0px;
}

.image-3 {
  margin-left: 0px;
}

.image-4 {
  margin-left: 0px;
  text-align: left;
}

.container-4 {
  position: static;
  top: -10px;
  display: block;
  padding: 0px;
  text-align: center;
}

.image-5 {
  margin-left: 0px;
}

.image-6 {
  margin-left: 0px;
}

.container-5 {
  position: relative;
  left: 0px;
  top: 63px;
}

.row {
  margin-top: 34px;
  text-align: center;
}

.image-7 {
  text-align: left;
}

.column {
  left: 0%;
}

.row-2 {
  text-align: center;
}

.section-3 {
  height: 700px;
}

.slide {
  height: 100%;
}

.slider {
  height: 500px;
  margin-left: 0px;
}

.slide-2 {
  height: 500px;
}

.section-4 {
  height: auto;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
}

.column-2 {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: visible;
  height: 500px;
}

.column-3 {
  height: 500px;
}

.slider-2 {
  left: 0px;
  width: 100%;
  height: 500px;
  margin-left: 0px;
  padding-left: 0px;
}

.slide-4 {
  background-image: url('../images/116.jpg'), url('../images/example-bg.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, 125px;
  background-repeat: no-repeat, repeat;
}

.image-11 {
  background-image: url('../images/116.jpg');
  background-position: 0px 0px;
  background-size: 512px;
}

.slide-5 {
  background-image: url('../images/108.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url('../images/01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-7 {
  background-image: url('../images/02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-8 {
  background-image: url('../images/08.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-3 {
  width: 50%;
  height: 600px;
}

.slide-9 {
  background-image: url('../images/116.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-10 {
  background-image: url('../images/108.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-11 {
  background-image: url('../images/01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-12 {
  background-image: url('../images/02.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-4 {
  position: relative;
  top: 4px;
  right: -321px;
  float: none;
  clear: none;
}

.container-6 {
  position: relative;
  left: 484px;
  height: 100px;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
}

.column-4 {
  height: 500px;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
}

.column-5 {
  height: 500px;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
  color: #fff;
}

.container-10 {
  position: static;
  top: 126px;
  padding-right: 90px;
  padding-left: 90px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.slider-4 {
  left: 11px;
  top: 25px;
  height: 450px;
}

.slide-13 {
  background-image: url('../images/116.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slide-14 {
  background-image: url('../images/01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-15 {
  background-image: url('../images/02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-16 {
  background-image: url('../images/08.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-5 {
  margin-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
}

.column-7 {
  height: 500px;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
}

.row-3 {
  line-height: 20px;
}

.paragraph-3 {
  color: #fff;
}

.heading-5 {
  color: #fff;
}

.video {
  position: static;
  top: 0px;
}

.column-8 {
  text-align: center;
}

.column-9 {
  top: 36px;
  color: #fff;
  text-align: left;
}

.heading-6 {
  position: static;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.paragraph-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.image-12 {
  position: relative;
  top: 19px;
  text-align: left;
}

.row-4 {
  position: relative;
  top: -36px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
}

.section-6 {
  height: 400px;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
}

.column-10 {
  top: 68px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}

.heading-7 {
  font-size: 25px;
  font-weight: 300;
}

.paragraph-5 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.image-13 {
  text-align: left;
}

.column-11 {
  top: 40px;
  text-align: center;
}

.section-7 {
  height: 100%;
}

.image-14 {
  position: relative;
  top: 28px;
  display: none;
  text-align: left;
}

.right-arrow {
  display: none;
}

.slide-nav-2 {
  display: none;
}

.left-arrow {
  display: none;
}

.slide-17 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.paragraph-6 {
  position: relative;
  top: 100px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.slide-18 {
  top: 10px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.paragraph-7 {
  position: relative;
  top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.image-15 {
  position: relative;
  top: 20px;
}

.slide-19 {
  top: 20px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.paragraph-8 {
  position: relative;
  top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.image-16 {
  position: relative;
  top: 26px;
}

.slide-20 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.paragraph-9 {
  position: relative;
  top: 110px;
  padding-right: 10px;
  padding-left: 10px;
}

.image-17 {
  position: relative;
  top: 34px;
}

.slide-21 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.paragraph-10 {
  position: relative;
  top: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

.image-18 {
  position: relative;
  top: 35px;
  padding-left: 10px;
}

.slide-22 {
  text-align: center;
}

.paragraph-11 {
  position: relative;
  top: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.image-19 {
  position: relative;
  top: 33px;
}

.mask {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.section-8 {
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
}

.heading-8 {
  position: relative;
  top: 18px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.row-5 {
  position: relative;
  top: 50px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.row-6 {
  position: relative;
  top: 81px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.container-11 {
  height: 300px;
}

.section-9 {
  position: relative;
  top: 79px;
  bottom: 0px;
  height: 300px;
}

.column-12 {
  top: 47px;
  height: 225px;
  text-align: center;
}

.column-13 {
  top: 47px;
  height: 225px;
  text-align: center;
}

.column-14 {
  left: 0px;
  top: 47px;
  height: 225px;
  text-align: center;
}

.heading-9 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-10 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-11 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.row-7 {
  position: relative;
  top: 0px;
  height: 320px;
}

.video-2 {
  position: relative;
}

.heading-12 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-13 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-14 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-15 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-16 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-17 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-18 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.heading-19 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.section-10 {
  height: 370px;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
}

.container-12 {
  height: 370px;
}

.heading-20 {
  position: relative;
  top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.heading-21 {
  position: relative;
  top: 17px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.heading-22 {
  position: relative;
  top: 15px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.heading-23 {
  position: relative;
  top: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.paragraph-12 {
  position: relative;
  top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
}

.paragraph-13 {
  position: relative;
  top: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.heading-24 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.heading-25 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.heading-26 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.section-11 {
  position: relative;
  top: -24px;
  height: 300px;
}

.section-13 {
  position: relative;
  top: -23px;
  height: 150px;
}

.container-13 {
  position: relative;
  top: 0px;
  height: 200px;
}

.column-18 {
  height: 420px;
  text-align: center;
}

.section-14 {
  height: 420px;
  margin-right: 1px;
}

.paragraph-14 {
  position: relative;
  top: 40px;
  height: 380px;
  font-size: 15px;
  line-height: 25px;
}

.image-20 {
  position: relative;
  top: 50px;
}

.row-8 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.column-19 {
  height: 420px;
  text-align: center;
}

.paragraph-15 {
  position: relative;
  top: 66px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

.image-21 {
  position: relative;
  top: 38px;
}

.paragraph-16 {
  position: relative;
  top: 11px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

.section-15 {
  height: 400px;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
  line-height: 30px;
}

.container-14 {
  height: 400px;
  text-align: left;
}

.heading-27 {
  position: relative;
  top: 14px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.paragraph-17 {
  position: relative;
  top: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.section-16 {
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, #0a1e66, #0a1e66);
  background-image: linear-gradient(180deg, #0a1e66, #0a1e66);
}

.container-15 {
  height: 370px;
}

.column-20 {
  top: 15px;
  text-align: center;
}

.column-21 {
  top: 35px;
}

.image-22 {
  position: relative;
  top: 0px;
}

.column-22 {
  top: 35px;
}

.row-9 {
  position: relative;
  height: 250px;
}

.section-17 {
  position: static;
  top: -800px;
  height: 1500px;
}

.container-16 {
  position: relative;
  top: 37px;
  height: 1300px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 30px;
  font-weight: 300;
}

.heading-28 {
  font-size: 30px;
}

.heading-29 {
  font-size: 30px;
}

.container-17 {
  height: 800px;
}

.video-3 {
  top: 27px;
  text-align: center;
}

.section-18 {
  height: 380px;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
  color: #fff;
  line-height: 500px;
}

.heading-30 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.heading-31 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.heading-32 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.heading-33 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.heading-34 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.row-10 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.container-18 {
  position: relative;
  top: 67px;
}

.section-19 {
  height: 180px;
}

.heading-35 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.paragraph-18 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.container-19 {
  position: relative;
  top: 30px;
}

.section-20 {
  position: static;
  left: 0px;
  top: 1500px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  height: 240px;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
}

.container-20 {
  position: relative;
  top: 30px;
}

.heading-36 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.paragraph-19 {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.paragraph-20 {
  position: relative;
  top: 20px;
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.paragraph-21 {
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
}

.row-12 {
  text-align: center;
}

.navbar-2 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.section-21 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.section-title-group {
  margin-bottom: 62px;
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading.centered {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.section-subheading.center {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.navbar-3 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.price-point {
  margin-bottom: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold-text {
  font-weight: 400;
}

.section-22 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-22.purple {
  background-color: #dde7ed;
  background-image: -webkit-linear-gradient(270deg, #032765, #032765), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, #032765, #032765), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 68px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.addl-feature {
  margin-bottom: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: center;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.heading-37 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.text-span {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.bold-text-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.heading-38 {
  text-align: center;
}

.bold-text-3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.bold-text-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.heading-39 {
  font-weight: 400;
}

.italic-text {
  font-family: 'Josefin Sans', sans-serif;
}

.paragraph-22 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.heading-40 {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.container-21 {
  position: relative;
  top: 39px;
  height: 330px;
}

.text-block {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.body {
  color: #032765;
}

.bold-text-5 {
  font-weight: 300;
}

.navbar-4 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.body-2 {
  overflow: visible;
}

.dropdown {
  width: 6%;
}

.dropdown-2 {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.accordian-item-trigger {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  cursor: pointer;
}

.accordian-item-content {
  overflow: hidden;
}

.accordion {
  display: block;
  width: 66.66%;
  margin-right: auto;
  margin-bottom: -24px;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.accordion-body__contents {
  display: none;
  margin-top: 8px;
  opacity: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #9096a4;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2e323c;
}

.accordion-header.js-accordion-header {
  cursor: pointer;
}

.accordion-body {
  display: block;
  padding-right: 8px;
  padding-left: 64px;
  color: #9096a4;
}

.accordion-body.js-accordion-body {
  display: block;
  padding-bottom: 20px;
  color: #9096a4;
}

.accordion__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
  padding: 20px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(46, 50, 60, .09);
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  text-align: left;
  text-decoration: none;
}

.accordion__item:hover {
  box-shadow: 0 3px 9px 0 rgba(46, 50, 60, .09);
}

.accordion__item.js-accordion-item {
  padding-bottom: 20px;
}

.accordion__item.js-accordion-item.active {
  display: none;
  cursor: default;
}

.accordion__item.js-accordion-item.active {
  cursor: default;
}

.question-text {
  margin-top: 15px;
  margin-left: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 24px;
}

.heading-41 {
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.accordion-body__contents-2 {
  margin-top: 8px;
  opacity: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #9096a4;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.section-23 {
  margin-top: 30px;
}

.dropdown-3 {
  width: 100%;
}

.dropdown-toggle-2 {
  width: 100%;
}

.full-section {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  margin-bottom: 110px;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(0deg, #1b2531, #384e68);
  background-image: linear-gradient(90deg, #1b2531, #384e68);
}

.center-it {
  position: relative;
  left: 0px;
  top: 50%;
  right: 0px;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0 0 31px -3px #09141d;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.item-list {
  position: relative;
  overflow: hidden;
  height: 0px;
  padding-left: 25px;
  background-color: #394b66;
}

.item-list.w--open {
  padding-left: 25px;
  background-color: #394b66;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
  color: #fff;
}

.item-list.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tutorial-link {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.accordion-toggle {
  width: 100%;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.accordion-toggle.light {
  font-family: Montserrat, sans-serif;
  color: #2fc2a2;
  font-size: 16px;
}

.accordion-2 {
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  margin: 0px;
  background-color: #2fc2a2;
  color: #fff;
}

.accordion-2.light {
  background-color: #fff;
}

.link {
  background-color: #ececec;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
  color: #5d748d;
  font-weight: 400;
  letter-spacing: 1px;
}

.link:hover {
  padding-left: 25px;
}

.section-24 {
  margin-top: 50px;
}

._1200_wrapper {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

._1200_wrapper.whitebg {
  position: relative;
  background-color: #fff;
}

.descriptor {
  color: #cc7d7d;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.degree {
  color: #547788;
  font-weight: 600;
}

.peer_info {
  display: block;
  margin-top: 0px;
  padding: 25px 100px 25px 0px;
  color: #919197;
  font-size: 16px;
  line-height: 36px;
}

.section_keypersonnel {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.personnel {
  display: inline-block;
  width: 30.3%;
  margin-top: 25px;
  margin-right: 3%;
  margin-bottom: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-bottom: 3px solid transparent;
  background-color: #572047;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

.personnel.w--current {
  border-bottom: 3px solid #572047;
  background-color: #fff;
  color: #572047;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

.column-24 {
  text-align: center;
}

.column-25 {
  text-align: center;
}

.column-26 {
  text-align: center;
}

.column-27 {
  text-align: center;
}

.container-22 {
  height: 100%;
}

.dropdown-4 {
  width: 100%;
}

.dropdown-toggle-3 {
  width: 100%;
}

.paragraph-23 {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 32px;
}

.heading-42 {
  position: static;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.section-25 {
  position: relative;
  height: 100%;
}

.heading-43 {
  text-align: center;
}

.container-23 {
  position: static;
  overflow: visible;
  min-height: 0px;
  padding-bottom: 0px;
}

.section-26 {
  height: 600px;
}

.column-28 {
  padding-top: 14px;
}

.heading-44 {
  text-align: center;
}

.checkbox-field {
  margin-bottom: 10px;
}

.container-24 {
  padding-right: 10px;
  padding-left: 10px;
}

.container-25 {
  padding-right: 10px;
  padding-left: 10px;
}

.container-26 {
  padding-right: 10px;
  padding-left: 10px;
}

.heading-45 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.image-27 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}

.container-27 {
  text-align: center;
}

.paragraph-24 {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.paragraph-25 {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.field {
  height: 58px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0px solid #000;
  background-color: #fff;
  box-shadow: inset 2px 0 0 0 transparent;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  color: #249cff;
  font-size: 17px;
  font-weight: 300;
}

.field:focus {
  box-shadow: inset 2px 0 0 0 #249cff;
}

.field.grey {
  background-color: #f7f7f7;
}

.field.textarea {
  height: 128px;
}

.button-2 {
  display: inline-block;
  margin-right: 14px;
  padding: 16px 26px;
  border: 2px solid #000;
  background-color: #000;
  -webkit-transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
  transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.button-2:hover {
  border-color: #fff;
  background-color: transparent;
}

.button-2.form {
  padding-top: 18px;
  padding-bottom: 18px;
  border-width: 0px;
  background-color: #d1d1d1;
  font-weight: 300;
}

.button-2.form:hover {
  background-color: #249cff;
}

.contact-text {
  padding-right: 59px;
  color: #a3a3a3;
}

.section-27 {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #5c5c5c;
}

.section-27.grey {
  background-color: #ededed;
  color: dimgray;
}

.success-message {
  padding: 83px 32px;
  background-color: #ccc;
  color: #7d7d7d;
  text-align: center;
}

.thank-you-title {
  margin-right: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
}

.heading-46 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.paragraph-26 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.column-29 {
  text-align: center;
}

.column-30 {
  text-align: center;
}

.column-31 {
  text-align: center;
}

.column-32 {
  text-align: center;
}

.row-13 {
  padding-bottom: 20px;
}

.column-33 {
  text-align: center;
}

.container-28 {
  padding: 20px 10px;
}

.column-34 {
  top: 38px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

.column-35 {
  top: 17px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

.container-29 {
  padding-bottom: 10px;
}

.container-30 {
  height: 100%;
}

.heading-47 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.section-28 {
  background-image: -webkit-linear-gradient(270deg, #032765, #032765);
  background-image: linear-gradient(180deg, #032765, #032765);
  color: #fff;
}

.row-14 {
  margin-top: 20px;
}

.row-15 {
  margin-top: 20px;
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="hide-on-load"] {
  display: none;
  opacity: 0;
  height: 0px;
}

html.w-mod-js *[data-ix="new-interaction"] {
  height: 100px;
}

@media (max-width: 991px) {
  .container {
    background-color: #0098ff;
  }
  .nav-menu {
    margin-top: 0px;
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
  }
  .navbar {
    background-color: transparent;
  }
  .icon {
    position: relative;
    left: -12px;
    top: -14px;
    margin-top: 29px;
    margin-left: 28px;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link-2 {
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
  }
  .heading-3 {
    font-size: 25px;
  }
  .paragraph-2 {
    font-size: 15px;
  }
  .slide-3 {
    background-image: url('../images/108.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .column-3 {
    display: block;
  }
  .slide-4 {
    width: 100%;
  }
  .slide-6 {
    display: block;
    float: none;
    clear: none;
    border-left: 1px none #000;
    text-align: left;
  }
  .column-9 {
    top: 27px;
  }
  .heading-6 {
    font-size: 20px;
  }
  .paragraph-4 {
    font-size: 10px;
  }
  .section-6 {
    height: 325px;
  }
  .column-10 {
    left: 8px;
    top: 58px;
  }
  .heading-7 {
    font-size: 20px;
  }
  .paragraph-5 {
    font-size: 10px;
  }
  .section-8 {
    height: 100%;
  }
  .nav-link-3 {
    display: block;
    color: #fff;
  }
  .nav-link-4 {
    display: block;
    color: #fff;
  }
  .nav-link-5 {
    display: block;
    color: #fff;
  }
  .nav-link-6 {
    display: block;
    color: #fff;
  }
  .nav-link-7 {
    display: block;
    color: #fff;
  }
  .heading-36 {
    text-align: center;
  }
  .paragraph-19 {
    text-align: center;
  }
  .paragraph-20 {
    text-align: center;
  }
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .accordion {
    width: 83.33%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .column-23 {
    margin-bottom: -26px;
    padding-top: 0px;
  }
  .item-list {
    background-color: #394b66;
  }
  .item-list.w--open {
    background-color: #394b66;
  }
  .item-list.bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .link:hover {
    padding-left: 20px;
  }
  ._1200_wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }
  .peer_info {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section_keypersonnel {
    padding-top: 60px;
    text-align: center;
  }
  .tabsmenu {
    margin-top: 50px;
  }
  .innercontentbutton {
    margin-top: 20px;
  }
  .personnel {
    position: relative;
    width: 70%;
    margin-right: 0%;
    margin-left: 0px;
    padding-left: 0px;
    cursor: pointer;
  }
  .personnel.w--current {
    font-size: 18px;
  }
  .row-13 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-34 {
    top: 16px;
  }
  .column-35 {
    top: -6px;
  }
  .container-29 {
    height: 100%;
  }
  .container-30 {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    margin-top: 0px;
  }
  .nav-link-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .paragraph {
    display: none;
  }
  .heading-2 {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-6 {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .image-7 {
    display: none;
  }
  .slider {
    display: block;
  }
  .image-8 {
    display: none;
  }
  .image-9 {
    display: none;
  }
  .image-10 {
    display: none;
  }
  .image-14 {
    display: none;
  }
  .paragraph-6 {
    top: 80px;
  }
  .row-5 {
    top: 0px;
  }
  .row-6 {
    top: 0px;
  }
  .section-21 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-fours {
    width: 33.33%;
  }
  .section-22 {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .divider {
    width: 100%;
  }
  .accordion {
    width: 100%;
    margin-bottom: -16px;
  }
  .accordion__item {
    margin-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .question-text {
    margin-top: 8px;
  }
  .center-it {
    top: 10%;
    width: 95%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .peer_info {
    font-size: 14px;
    line-height: 30px;
  }
  .section_keypersonnel {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .personnel {
    width: 90%;
  }
  .section-27 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .form-wrapper {
    margin-top: 11px;
  }
  .column-29 {
    margin-bottom: 10px;
  }
  .column-30 {
    margin-bottom: 10px;
  }
  .column-31 {
    margin-bottom: 10px;
  }
  .column-32 {
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    margin-top: 0px;
  }
  .icon {
    top: -3px;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .heading-2 {
    position: relative;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-2 {
    height: 390px;
  }
  .container-3 {
    top: -3px;
  }
  .image-5 {
    margin-bottom: 50px;
  }
  .heading-6 {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }
  .paragraph-4 {
    text-align: center;
  }
  .image-12 {
    top: 15px;
  }
  .row-4 {
    top: -94px;
  }
  .heading-7 {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }
  .paragraph-5 {
    text-align: center;
  }
  .section-7 {
    height: 100%;
  }
  .image-14 {
    display: none;
  }
  .slide-17 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-6 {
    top: 60px;
    overflow: visible;
    padding-right: 20px;
    padding-left: 20px;
  }
  .slide-18 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-7 {
    top: 100px;
  }
  .slide-19 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-8 {
    top: 100px;
  }
  .slide-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-9 {
    top: 110px;
  }
  .slide-21 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-10 {
    top: 100px;
  }
  .paragraph-11 {
    top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-11 {
    height: auto;
  }
  .column-12 {
    height: auto;
  }
  .column-13 {
    height: auto;
  }
  .column-14 {
    height: auto;
  }
  .row-7 {
    height: 100%;
  }
  .heading-12 {
    text-align: center;
  }
  .heading-13 {
    text-align: center;
  }
  .heading-14 {
    text-align: center;
  }
  .heading-15 {
    text-align: center;
  }
  .heading-16 {
    text-align: center;
  }
  .heading-17 {
    text-align: center;
  }
  .heading-18 {
    text-align: center;
  }
  .heading-19 {
    text-align: center;
  }
  .paragraph-13 {
    position: relative;
    display: block;
  }
  .heading-36 {
    text-align: center;
  }
  .paragraph-19 {
    text-align: center;
  }
  .paragraph-20 {
    text-align: center;
  }
  .grid-fours {
    width: 50%;
  }
  .accordion-body {
    padding-left: 56px;
  }
  .question-text {
    margin-bottom: 8px;
    margin-left: 16px;
  }
  .tutorial-link {
    z-index: 9999;
  }
  ._1200_wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .descriptor {
    font-size: 11px;
  }
  .personnel {
    width: 100%;
    font-size: 16px;
  }
  .image-23 {
    display: none;
  }
  .image-24 {
    display: none;
  }
  .image-25 {
    display: none;
  }
  .image-26 {
    display: none;
  }
  .column-28 {
    display: none;
  }
  .column-34 {
    top: 5px;
  }
  .column-35 {
    top: 0px;
  }
  .container-29 {
    height: auto;
  }
}

